<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Event Image</title>
</head>
<body>
	<div class="container-scroller">
		<!-- Header inclusion -->
		<th:block th:insert="AdminHeader.html"></th:block>
		<div class="container-fluid page-body-wrapper">
			<!-- Sidebar inclusion -->
			<th:block th:insert="AdminSideNav.html"></th:block>
			<div class="main-panel">
				<div class="content-wrapper">

					<!-- Page Header -->
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h1 class="h3 text-dark"></h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="/eventList">Event List</a></li>
							<li class="breadcrumb-item active">Add Event Image</li>
						</ol>
					</div>
											<h1 class="h3 text-dark text-center">Add Event Image</h1>
					

					<!-- Form Card -->
					<div class="card shadow-sm">
						<div class="card-body">
							<div class="formContainer">
								<!-- Event Image Form -->
								<form action="/addEventImage" method="post"
									enctype="multipart/form-data">
									<h2>[[${eventModel.title}]]</h2>

									<!-- Image Upload Field -->
									<div class="row">
										<div class="form-group">
											<label for="addImage">Add Image</label> <input id="addImage"
												type="file" name="eventImages" multiple class="form-control" />
										</div>
									</div>

									<!-- Hidden Field for Event ID -->
									<div class="row">
										<div class="form-group">
											<input type="hidden" name="eventId" th:value="${eventId}" />
										</div>
									</div>

									<!-- Submit Button -->
									<button type="submit" class="btn btn-success buttonTopMargin">Submit</button>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Footer inclusion -->
		<th:block th:insert="AdminFooter.html"></th:block>
	</div>
</body>
</html>
