<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Skydash Admin</title>
<!-- plugins:css -->
<link rel="stylesheet" href="vendors/feather/feather.css">
<link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet"
	href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="text/css"
	href="js/select.dataTables.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<!-- lemon -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="lemonCss/style.css" rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
	rel="stylesheet" />




</head>
<body>
	<!-- partial:partials/_navbar.html -->
	<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
		<div
			class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
			<a class="navbar-brand brand-logo mr-5" href=""><img
				src="logo.jpeg" class="mr-2" alt="logo" /></a> <a
				class="navbar-brand brand-logo-mini" href=""><img src=""
				alt="logo" /></a>
		</div>
		<div
			class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
			<button class="navbar-toggler navbar-toggler align-self-center"
				type="button" data-toggle="minimize">
				<span class="icon-menu"></span>
			</button>

			<ul class="navbar-nav navbar-nav-right">
				<li class="nav-item dropdown"><a
					class="nav-link count-indicator dropdown-toggle"
					id="notificationDropdown" href="#" data-toggle="dropdown"> <i
						class="icon-bell mx-0"></i> <span class="count"></span>
				</a>
					<div
						class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list "
						aria-labelledby="notificationDropdown">
						<p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
						<p class="mb-0 font-weight-normal float-left dropdown-header margin-left ">
							<a href="/clearAll" style="cursor: pointer;" >Clear All</a>
						</p>
						
						<a href="/notificationList" class="abc"  >
						<div class="flex dropdown-item" th:each="notification:${notificationList}">
										<img alt="" src="eventImages/444.jfif" width="50px" height="50px" style="border-radius:50%;">
										<div>
										<h6>Membership Status</h6>
										<p>[[${notification.name}]]</p>
										<p>[[${notification.message}]]</p>
										<p class="align-right p-color" th:text="${T(java.time.LocalDate).now().isEqual(notification.notificationDate) ? 'Today' : T(java.time.temporal.ChronoUnit).DAYS.between(notification.notificationDate, T(java.time.LocalDate).now()) + ' days ago'}"></p>
										</div>
										<a th:href="@{/clear/{id}(id=${notification.id})}"><img alt="" src="images/icons8-cross-48.png" width="25px"></a>
						</div></a>
						
					</div></li>
				<li class="nav-item nav-profile dropdown"><a
					class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
					id="profileDropdown"> <img src="logo.jpeg" alt="profile" />
				</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown"
						aria-labelledby="profileDropdown">
						<a class="dropdown-item"> <i class="ti-settings text-primary"></i>
							Settings
						</a>
						<form action="/logout" method="post" style="display: inline;">
							<button type="submit" class="dropdown-item">
								<i class="ti-power-off text-primary"></i> Logout
							</button>
						</form>
					</div></li>

			</ul>
			<button
				class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
				type="button" data-toggle="offcanvas">
				<span class="icon-menu"></span>
			</button>
		</div>
	</nav>
	<!-- partial -->
</body>
</html>