
  
  <!-- partial -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
        
          <li class="nav-item" >
            <a class="nav-link" href="/dashboard" >
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
        
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#memberDropdown" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Member</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="memberDropdown">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/member">Add</a></li>
                <li class="nav-item"> <a class="nav-link" href="/memberList">List</a></li>
              </ul>
            </div>
          </li>
          
              <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#committeeMember" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Committee Member</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="committeeMember">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/committeeMember">Add</a></li>
                <li class="nav-item"> <a class="nav-link" href="/committeeMemberList">Member List</a></li>
                <li class="nav-item"> <a class="nav-link" href="/committeeList">Committee List</a></li>
                
              </ul>
            </div>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#event" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Event</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="event">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="event">Add</a></li>
                <li class="nav-item"> <a class="nav-link" href="/eventList">List</a></li>                
              </ul>
            </div>
          </li>
          
          
              <li class="nav-item">
            <a class="nav-link" href="/gallery">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Gallery</span>
            </a>
          </li>
          
              <li class="nav-item">
            <a class="nav-link" href="/paymentList">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Payment</span>
            </a>
          </li>
          
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#donors" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Donors</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="donors">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/donor">Add</a></li>                
                <li class="nav-item"> <a class="nav-link" href="/donorList">List</a></li>                
              </ul>
            </div>
          </li>
          
                      <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#condolence" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Condolence</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="condolence">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/condolence">Add</a></li>                
                <li class="nav-item"> <a class="nav-link" href="/condolenceList">List</a></li>                
              </ul>
            </div>
          </li>
      
         
        </ul>
      </nav>

