<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div class="container-scroller">
		<th:block th:insert="AdminHeader.html"></th:block>
		<div class="container-fluid page-body-wrapper">
			<th:block th:insert="AdminSideNav.html"></th:block>
			<div class="main-panel">
				<div class="content-wrapper">


					<!-- Page header -->
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h1 class="h3 text-dark"></h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
							<li class="breadcrumb-item active">Condolence List</li>
						</ol>
					</div>
						<h1 class="h3 text-dark text-center">Condolence List</h1>

							<div class="grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Condolence Details</h4>
										<div class="table-responsive">
											<table class="table table-striped lemon-padding-top textWrap5th" id="datatablesSimple" >
												<thead>
													<tr>
														<th></th>
														<th>Full Name</th>
														<th>Born On</th>
														<th>Died On</th>
														<th>Description</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="c:${condolenceList}">
													<td><img
															th:src="@{'condolenceImages/'+ ${c.imageName}}"
															width="45px" style="border-radius: 50%;" alt="No Image"></td>
														<td>[[${c.title + ' ' + c.firstName + (c.middleName
															!= null ? ' ' + c.middleName : '') + ' ' + c.lastName}]]</td>
														<td>[[${c.birth}]]</td>	
														<td>[[${c.death}]]</td>
											
														<td >[[${c.description}]]</td>
														
														<td>
															
															<a th:href="@{/editCondolence(id=${c.id})}">
																	<button class=" btn btn-warning btn-sm">Edit</button>
																</a> <a th:href="@{/deleteCondolence(id=${c.id})}" >
																	<button class="btn btn-danger btn-sm">Delete</button>
																</a> 
														</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
		






				</div>
			</div>
		</div>
		<th:block th:insert="AdminFooter.html"></th:block>
	</div>

</body>
</html>