<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container-scroller">
		<th:block th:insert="AdminHeader.html"></th:block>
		<div class="container-fluid page-body-wrapper">
			<th:block th:insert="AdminSideNav.html"></th:block>
			<div class="main-panel">
				<div class="content-wrapper">

					<div class="d-flex justify-content-between align-items-center mb-4">
						<h1 class="h3 text-dark"></h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
							<li class="breadcrumb-item active">Edit Donor</li>
						</ol>
					</div>
					<h1 class="h3 text-dark text-center">Edit Donor</h1>

					<!-- Faculty form card -->
					<div class="card shadow-sm">
						<div class="card-body">


							<div class="formContainer">
								<form action="/updateDonor" method="post"
									th:object="${donorModel}">
									<!-- Personal Information -->
									<h4>Donor Details</h4>

									<div class="row">
										<div class="form-group title-group">
											<label for="title">Title</label> <select th:field="*{title}"
												id="title">
												<option value="">Select</option>
												<option value="Mrs">Mrs</option>
												<option value="Mr">Mr</option>
												<option value="Miss">Miss</option>
											</select>
										</div>
										<div class="form-group">
											<label for="firstName">First Name</label> <input
												id="firstName" type="text" placeholder="First Name"
												th:field="*{firstName}" />
										</div>
										<div class="form-group">
											<label for="middleName">Middle Name</label> <input
												id="middleName" type="text" placeholder="Middle Name"
												th:field="*{middleName}" />
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<label for="lastName">Last Name</label> <input id="lastName"
												type="text" placeholder="Last Name" th:field="*{lastName}" />
										</div>
										<div class="form-group">
											<label for="amount">Amount</label> <input id="amount"
												type="number" placeholder="Amount" th:field="*{amount}" />
										</div>


									</div>

									<div class="row">
										<div class="form-group">
											<label for="email">Email</label> <input id="email"
												type="email" placeholder="Email" th:field="*{email}" />
										</div>
										<div class="form-group">
											<label for="contact">Contact Number</label> <input
												id="contact" type="text" placeholder="Contact"
												th:field="*{contact}" />
										</div>
								

									</div>
									<div class="row">
										<div class="form-group">
											<label for="address">Address</label> <input id="address"
												type="text" placeholder="Address" th:field="*{address}" />
										</div>
										<div class="form-group">
											<label for="date">Date</label> <input id="date" type="date"
												placeholder="Date" th:field="*{date}" />
										</div>


									</div>
									<div class="row">

										<div class="form-group">
											<label for="description">Description</label> <input
												id="description" type="text" placeholder="Description"
												th:field="*{description}" />
										</div>

									</div>

									<input type="hidden" th:field="*{id}">






									<!-- Submit Button -->
									<button type="submit" class="submit-btn">Submit</button>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>





		</div>
	</div>

	<th:block th:insert="AdminFooter.html"></th:block>

</body>
</html>