<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gallery</title>

</head>
<body>
	<div class="container-scroller">
		<th:block th:insert="AdminHeader.html"></th:block>
		<div class="container-fluid page-body-wrapper">
			<th:block th:insert="AdminSideNav.html"></th:block>
			<div class="main-panel">
				<div class="content-wrapper">


					<!-- Page header -->
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h1 class="h3 text-dark"></h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
							<li class="breadcrumb-item active">Gallery List</li>
						</ol>
					</div>
											<h1 class="h3 text-dark text-center">Gallery</h1>
					
					<div>
						<select id="type" onchange="fetchImages()">
							<option value="Member">Member</option>
							<option th:each="e:${eventType}" th:value="${e}" th:text="${e}"></option>
						</select>
					</div>

					<div class="grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
                                <h4 class="card-title" id="galleryTitle">this text is Dynamically dislayed</h4>
								<div class="table-responsive">
									<table class="table table-striped lemon-padding-top"
										id="datatablesSimple">
										<thead>
											<tr>

												<th></th>

												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
										<!-- the innerhtml of body is dynamically displayed by javascript -->
											<tr>
												<td></td>
												<td></td>
											</tr>
										<!-- for static display of member Images -->
									<!--/*		<tr th:each="i:${memberImageList}">
												<td><img th:src="@{/memberImages/{img}(img=${i})}"
													alt="No Image" />
												</td>
												<td>
													<button class="btn btn-danger btn-sm">Delete</button>
												</td>
											</tr> */-->
										
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>




				</div>
			</div>
		</div>
		<th:block th:insert="AdminFooter.html"></th:block>
	</div>
	<script src="lemonCss/gallery.js"></script>
</body>
</html>
