<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div class="container-scroller">
		<th:block th:insert="AdminHeader.html"></th:block>
		<div class="container-fluid page-body-wrapper">
			<th:block th:insert="AdminSideNav.html"></th:block>
			<div class="main-panel">
				<div class="content-wrapper">


					<!-- Page header -->
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h1 class="h3 text-dark"></h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
							<li class="breadcrumb-item active">Notification List</li>
						</ol>
					</div>
						<h1 class="h3 text-dark text-center">Notification List</h1>

							<div class="grid-margin stretch-card">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Notification Details</h4>
										<div class="table-responsive">
											<table class="table table-striped lemon-padding-top textWrap8th" id="datatablesSimple" >
												<thead>
													<tr>
														<th>Image</th>
														<th>Full Name</th>
														<th>Message</th>
														<th>Notification Date</th>
														<th>Expiry Date</th>
														<th>Status</th>
														<th>Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="n:${notificationListAll}">
													<td><img
															th:src="@{'memberImages'+ ${n.imageName}}"
															width="45px" style="border-radius: 50%;" alt="No Image"></td>
														<td>[[${n.name}]]</td>
														<td>[[${n.message}]]</td>	
													<td>[[${n.notificationDate}]]</td>
														
														<td>[[${n.expiryDate}]]</td>
														<td>[[${n.status}]]</td>
														<td>
														<a th:href="@{/deleteNotification(id=${n.id})}" >
																	<button class="btn btn-danger btn-sm">Delete</button>
																</a> 
														</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
		






				</div>
			</div>
		</div>
		<th:block th:insert="AdminFooter.html"></th:block>
	</div>

</body>
</html>